@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer components {
	.game {
		font-family:
			Century Gothic,
			Futura,
			sans-serif;
		font-size: 14px;
		margin: 20px;
		min-height: 260px;
		display: flex;
		flex-direction: row;
	}

	.game ol,
	.game ul {
		padding-left: 30px;
	}

	.board-row:after {
		clear: both;
		content: '';
		display: table;
	}

	.status {
		margin-bottom: 10px;
	}

	.restart {
		margin-top: 10px;
	}

	.square {
		background: #fff;
		border: 1px solid #999;
		float: left;
		font-size: 24px;
		font-weight: 700;
		height: 34px;
		line-height: 34px;
		margin-right: -1px;
		margin-top: -1px;
		padding: 0;
		text-align: center;
		width: 34px;
	}

	.square:focus {
		background: #ddd;
		outline: none;
	}

	.game-info {
		margin-left: 20px;
		min-width: 190px;
	}


}